html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 60px;
    background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container.main{
    padding-bottom: 100px;
}

.container .credit {
    margin: 20px 0;
}

#formatter textarea{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.428571429;
    word-break: break-all;
    word-wrap: break-word;
    color: #FFFFFF;
    background-color: #333333;
    border: 1px solid #eeeeee;
    border-radius: 0px;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    white-space: pre-wrap;
}